html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  color:#FFF;
  background: #14110E;
}
a{
  text-decoration: none;
  color: inherit;
  transition: 3s;
}
ul li,
ol li {
list-style: none;
}
img{
  max-width: 100%;
  max-height: 100%;
}
button{
  display: block;
  border: none;
  color: inherit;
  background-color: inherit;
  transition: 4s;
  cursor: pointer;
}
.container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 75px ;
}
.container-header {
  padding: 0 10px;}
    
/* header */
.head {
	padding: 20px 0;
	align-items: center;
	background: #1C1814;
  }
  .menu_right{
    display: block;
  }
  
  