html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button,
label {
  cursor: pointer;
}

input,
button,
textarea {
  background: none;
  border: none;
  outline: none;
  display: block;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

input::placeholder {
  color: inherit;
}

button {
  cursor: pointer;
}

input,
textarea {
  display: block;
  resize: none;
}

body {
  background: #14110E;
  color: #FFF;
  font-family: "DM Sans", arial;
  font-size: 18px;
  line-height: 28px;
  /* 155.556% */
}

.container {
  max-width: 1330px;
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 100px;
}

.dn {
  display: none;
}

section {
  padding: 100px 0;
  margin-bottom: 140px;
}

.color {
  color: #be963f;
}

.dib {
  display: inline-block;
}

.hover {
  transition: 0.3s;
}

.hover:hover {
  color: #be963f;
}



.btn:hover {
  background: #2c2f24;
  color: #fff;
}

.link {
  transition: 0.3s;
}

.link:hover {
  box-shadow: 0px 6px 5px 2px #836a36;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section_btn {
  padding: 20px 36px;
  font: 700 18px 'Inter', Arial, Helvetica, sans-serif;
  text-align: center;
  text-transform: uppercase;
  background-color: #C99E71;
  color: #FFF;
}

.sec_txt {
  color: rgba(255, 255, 255, 0.80);
  font-family: Urbanist;
  font-size: 16px;
  line-height: 180%;
  /* 36px */
  text-transform: capitalize;
  margin-bottom: 64px;

}

.sec_tit {
  color: #C99E71;
  font-family: Urbanist;
  font-weight: 600;
  line-height: normal;
  text-align: center;
}

.sec_subtitle {
  color: #FFF;
  font-family: Righteous;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  text-align: center;
}

/* Header */
header {
  padding: 32px 0;
  background-color: #1C1814;
}

.header,
.nav-main,
.nav-main__list,
.header-icons {
  align-items: center;
}

.nav-main {
  flex-grow: 1;
  margin-inline-start: 100px;

}

.nav-main__list {
  gap: 48px;
  font: 400 18px 'Inter', Arial, Helvetica, sans-serif;
}

.nav-main__link_selected {
  color: #C99E71;
  font-weight: 700;
  cursor: default;
}

.nav-main__link:hover,
.header-action__search:hover,
.header-action__cart:hover {
  color: #C99E71;
}

.header__logo,
.footer__img {
  width: 72px;
  height: 60px;
}

.header-icons {
  gap: 50px;
  margin-left: 48px;
  margin-inline-end: 100px;
}

.header-icons__search,
.header-icons__cart {
  font-size: 30px;
  color: #FFFFFF;
}

/* main */
.main {
  background: url(../img/icons/main_img.jpg) 50% 50%/cover no-repeat;
  margin-top: 0;

}

.main_info_info {
  max-width: 530px;
}

.main_tit {
  font-family: Righteous;
  font-size: 72px;
  line-height: 130%;
  /* 93.6px */
  margin-bottom: 32px;
}

.main_btn {
  display: inline-flex;
  padding: 24px 40px;
  align-items: center;
  gap: 10px;
  background: #C99E71;
  transition: 0.4s;
}

.main_btn:hover {
  background: #916033;
}

.main_video__btn {
  color: #fff;
  position: relative;
  display: flex;
  align-items: flex-end;
  align-self: flex-end;
  height: 110px;
  font: 400 16px 'Inter', Arial, Helvetica, sans-serif;
  text-transform: uppercase;

}

.main_video__btn:hover {
  color: #C99E71;

}

.main_video__btn::before {
  position: absolute;
  content: '';
  top: 0;
  left: 50%;
  width: 66px;
  height: 66px;
  border: 2px solid #fff;
  border-radius: 50%;
  background: url(../img/icons/play_triangle.svg) 50%/14px 18px no-repeat;
  transition: 0.4s;
  transform: translateX(-50%);
}

.main_txt {
  font-size: 20px;
}


/* best */
.best_card {
  width: calc((100% - 36px) / 3);
}

.best_tit {
  gap: 12px;
  justify-content: start;
  margin-bottom: 24px;
}

.best_nmb {
  color: #C99E71;
  font-family: Righteous;
  font-size: 24px;
  line-height: normal;
}

.best_txt {
  color: #FFF;
  font-family: Righteous;
  font-size: 24px;
  line-height: normal;
}

/* history */

.history_img_sm {
  margin-right: 32px;
}

.history_right {
  max-width: 40%;
  background: #1C1814;
  padding: 120px 56px 0 56px;

}

.history_subtitle,
.history_txt {
  text-align: start;
}

.history_img:first-child {
  margin-bottom: 32px;
}

.history_tit {
  text-align: start;
  margin-bottom: 12px;
}

.history_subtitle {
  margin-bottom: 36px;
}

/* popular */
.popular_cards {
  margin-top: 56px;
}

.popular_card {
  background: #121315;
  padding: 48px;
  padding-bottom: 36px;
}

.popular_img {
  margin-bottom: 36px;
}

.card_tit {
  color: #FFF;
  font-family: Righteous;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

/* popular */
.popular_card {
  text-align: center;
}

.popular_card .card_tit,
.popular_card_item {
  margin-bottom: 20px;

}

.popular_card_btn {
  background: #C99E71;
  padding: 13px 20px;
}

.popular_btn_txt {
  color: #FFF;
  font-family: Urbanist;
  font-weight: 600;
  margin-left: 12px;
}

.popular_card_item {
  justify-content: center;
  gap: 13px;
}

.popular_item_star {
  background: url(../img/icons/popular_star.svg) no-repeat;
  width: 20px;
  height: 20px;
  display: inline-block;
}

.empty_star {
  background: url(../img/icons/popular_star_empty.svg) no-repeat;
  width: 20px;
  height: 20px;
  display: inline-block;
}

.popular_item_txt {
  color: #C99E71;
  font-family: Urbanist;
  font-size: 16px;
  line-height: normal;
  text-transform: uppercase;
}

.popular__price {
  color: #FFF;
  font-family: Urbanist;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.popular__price_dark {
  color: #C99E71;
  font-family: Urbanist;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.popular_btn {
  margin: 0 auto;
  display: block;
  margin-top: 56px;
}

/* discover */
.discover_info,
.discover_tit {
  text-align: start;
}

.discover_info {
  max-width: 535px;
}

.discover_wrap {
  background: #1C1814;
  justify-content: center;
  padding: 85px;
}
.discover_left{
  margin-right: 160px;
}
.discover_tit{
  margin-bottom: 36px;
}

/* menu */
.menu_sub{
  margin-bottom: 56px;
}
.menu_card{
  align-items: center;
  gap: 20px;
  width: 48%;
  padding: 24px;
  border: 1px solid #32323D;
  margin-bottom:36px;
}
.menu_card_tit{
  text-transform: capitalize;
}
.menu_price{
  color: #C99E71;
font-family: Urbanist;
font-weight: 600;
}
